.header {
    padding: 90px 50px 95px 50px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}

.header__menu {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    width: 391.4786376953125px;
    white-space: nowrap;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: -5px;
}

.heder__links-list {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__links-list-item_no-bulit {
    list-style-type: none;
}

.header__link {
    padding-left: 5%;
}

.header__link_active {
    text-decoration: none;
    padding-left: 5%;
}

.address {
    max-width: 400px;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 24.3px;
    display: flex;
    flex-direction: column;
}

.header__address {
    margin-left: 184px;
}   

.header__logo {
    align-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.cover {
    padding: 165px 50px 50px 50px;
    margin-bottom: 120px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    z-index: 0;
    min-height: 757px;
}

.overlay {
    background-color: black;
    opacity: 60%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.cover__title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 700;
    font-style: bold;
    line-height: 114.99999999999999%;
    letter-spacing: 30px;
}

.aligned-text_left {
    align-self: flex-start;
}

.aligned-text_center {
    align-self: center;
    padding-top: 20px;
    margin-right: -25px;
}

.aligned-text_right {
    align-self: flex-end;
    padding-top: 20px;
    margin-right: -30px;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
}    

.cover__description-text {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 100%;
    align-self: center;
    word-spacing: 18px;
}

.bet-button {
    display: block;
    border: 1px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    width: 256px;
    height: 51px;
    text-align: center;
    padding: 12px 31px;
    background-color: transparent;
    color: white;

}

.lots {
    padding: 60px 24px;
}

.lots__heading {
    font-weight: 700px;
    font-size: 40px;
    font-style: bold;
    line-height: 100%;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots__card-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 65px;
}

.lots__card-list-item {
    width: 334px;
    height: 596px; 
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    opacity: 100%;
    margin-top: 30px;
    padding: 48px 40px;
    position: relative;
    z-index: 0;
    color: white;
    box-sizing: border-box;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);  
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    font-weight: 700;
    font-style: bold;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline solid 1px white;
}

.card__text {
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    margin-left: 40px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    text-decoration: underline solid 1px black;
}

.about {
    padding-top: 40px;
    padding-left: 47px;
    margin: 60px 24px;
    display: grid;
    grid-template-columns: 310px auto;
}

.about__logo {
    display: flex;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
}

.about__logo-image {
    display: block;
    width: 148px;
    height: 114px;
}

.about__title {
    margin-top: 100px;
    font-weight: 700;
    font-style: bold;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
}

.about__text {
    margin-top: 100px;
    margin-bottom:110px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 690px;
}

.footer {
    margin-top: 70px;
    padding: 0px 50px 82px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
}

.footer__menu-list {
    text-align: center;
    list-style-type: none;
    margin-top: 5px;
}

.footer__menu-list-item {
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 110%;
}

.footer__menu-link {
    text-decoration: underline solid 1px black;
}

.footer__social-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 240px;
    justify-self: end;
}

.footer__social-list-item {
    display: block;
}

.footer__social-link {
    text-decoration: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}